{% extends "base.html" %}
{% load static %}

{% block title %}ReRoute | {{ video.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'resources/css/resources.css' %}">
<link rel="stylesheet" href="{% static 'resources/css/video_watch.css' %}">
{% endblock %}

{% block content %}
<section class="watch-wrap">
  <div class="watch-player">
    {% if embed_url %}
      <iframe src="{{ embed_url }}" title="YouTube video player" referrerpolicy="strict-origin-when-cross-origin" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
  </div>
  <h1 class="watch-title">{{ video.title }}</h1>
  {% if video.description %}
    <p class="watch-desc">{{ video.description }}</p>
  {% endif %}
</section>
{% endblock %}
